.App {
    display: flex;
    justify-content: center;
    align-items: center;

    .timesheet-container {
        display: flex;
        flex-direction: column;
        background-color: #2e2e36;

        .logo {
            width: 80px;
        }

        label {
            color: white;
        }

        .stopwatch-time {
            text-align: center;
            color: white;
            font-size: 3em;
        }

        .stopwatch-buttons {
            display: flex;
            justify-content: center;
        }

        .stopwatch-buttons{
            display: flex;
            justify-content: space-evenly;

            button {
                color: white;
                border-radius: 0px !important;
            }

            .btn-green {
                background-color: green;
                color: white;
            }
    
            .btn-red {
                background-color: red;
                color: white;
            }
            
        }

    
    }
}